/*
   CSS file for the search form of Caddiacs database
*/

* {
  font-family: sans-serif;
}

body{
  background-color: SlateBlue;
  color: white;
  text-align: center;
  font-size: 24px;
}

button{
  width: 140px;
  margin-top: 8px;
  background: linear-gradient(to bottom right, Bisque 0%, rgb(128,128,128) 100%);
  box-shadow: none;
  border-style: solid;
  border-width: 0;
  border-color: black;
  text-shadow: none;
  font-size: 24px;
  padding: 12px 0;
  cursor: pointer;
}

div#fromgroupwave, div#fromgroupaki, div#fromgroupfik, div#fromgrouplowener, div#fromgroupuppener {
  margin-left: 86px;
}

input[type=text] {
  width: 152px;
  padding: 12px 12px;
  margin: 8px 4px;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 22px;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
}

select{
  width: 320px;
  padding: 12px 10px;
  margin: 8px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 24px;
}

div#options, div#outtrans, div#outlev {
  margin: auto;
  text-align: left;
  width: 500px;
}

div#footer {
  text-align: center;
  height: 100px;
  margin-top: 40px;
}

