/*
   CSS file for the search output of Caddiacs database
*/

body {
  font-size: 24px;
  background-color: MidnightBlue;
  color: white;
}
sub, sup {
  font-size: 17px;
}
a {
  color: inherit;
}
button{
  width: 140px;
  margin-top: 8px;
  background: linear-gradient(to bottom right, Bisque 0%, rgb(128,128,128) 100%);
  box-shadow: none;
  border-style: solid;
  border-width: 0;
  border-color: black;
  text-shadow: none;
  font-size: 24px;
  padding: 12px 0;
  cursor: pointer;
}

/* Style of message with nber of results */
#numres {
  display: inline;
  font-size: 1.4em;
}

/* Style of the box with notes */
#boxnote {
  font-family: cursive;
  text-align: center;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 65%;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: white;
  padding: 15px 50px 20px 50px;
}

/* Style of the output html table */

#wave {
  margin-top: 20px;
  font-family: sans-serif, Arial, Helvetica;
  border-collapse: collapse;
/*  width: 100%;*/
}
/* column width vs quantity */
#wave th.deflt {
  width: 150px ;
}
#wave th.lande {
  width: 100px ;
}
#wave th.term {
  width: 400px;
}
/* display theoretical wavengths, energies and landé-g values */
#wave td.theo {
  color: Gold;
  font-style: italic;
}
#wave td, #wave th {
  border: 1px solid;
  padding: 8px 16px;
}
#wave tr:nth-child(odd){
  background-color: black;
}
#wave tr:nth-child(even){
  background-color: MidnightBlue;
}
#wave th {
  background-color: SlateBlue;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
#wave td {
  text-align: center;
}

/* Style of text output */

pre {
  padding: 0;
  margin: 0;
  line-height: 1em;
}
